<%- include("partials/header.ejs") %>

<section id="edit" class="container">
    <h1 class="heading">Edit Notes</h1>
    <form class="add-edit-form" action="/edited" method="post">

        <input type="text" name="editTitle" placeholder="Title" value=<%= bookToEdit.title %> autocomplete="off">
        <input type="text" name="editAuthor" placeholder="Author" value=<%= bookToEdit.author %> autocomplete="on">
        <input type="text" name="editIsbn" placeholder="ISBN Number" value=<%= bookToEdit.isbn %> autocomplete="off">
        <input type="number" name="editRating" placeholder="Rate" value=<%= bookToEdit.rating %> autocomplete="off">
        <textarea name="editReview" placeholder="Review" rows="7" autocomplete="off"><%= bookToEdit.review %></textarea>
        <button class="button" type="submit" name="publish">Edit Book</button>

    </form>
</section>
<%- include("partials/footer.ejs")  %>