<%- include("partials/header.ejs") %>
    
    <div class="container">
        
        <h1 class="heading">Book Notes</h1>
        
        <ol>

            <% for(let book of bookLists) { %>

            <div class="book-lists">

                <div class="cover-image">
                    <img class="cover" src="https://covers.openlibrary.org/b/isbn/<%= book.id %>-M.jpg" width="100px" alt="book cover image of <%= book.title %>">
                    <!-- <img src="https://covers.openlibrary.org/b/isbn/9780385533225-S.jpg-->
                </div>


                <div class="book-info">

                    <h2><%= book.title %></h2>

                    <h3>By: <%= book.author %></h3>

                    <p class="review"><%= book.review %></p>

                    <p class="rating">Rating: <%= book.rating  %></p>


                    <form class="edit" action="/edit" method="get">

                        <input type="hidden" name="isbn" value=<%= book.id %> >

                        <button class="edit-book-btn" type="submit" name="editBookId">Edit</button>

                    </form>
                    
                    <form class="delete" action="/delete" method="post">

                        <input type="hidden" name="isbn" value=<%= book.id %> >

                        <button class="delete-book-btn" type="submit" name="deleteBookId">Delete</button>

                    </form>
                
                </div>
            
            </div>

        <% } %>

        </ol>
    
    </div>

<%- include("partials/footer.ejs")  %>